body {
  background-image: https://w0.peakpx.com/wallpaper/1016/701/HD-wallpaper-sasuke-uchiha-neon-lights-manga-artwork-anime-characters-naruto.jpg; 
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#14A562", endColorstr="#3F006F", GradientType=1 );
  font-family: monospace, sans-serif;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #000000;
  font-size: 36px;
}

.arctic {
  color: #06a5f4;
}

.circ {
  color: #ac0c0c;
}

p {
  font-size: 18px;
  color: #000000;
}

.cool-button {
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(120deg, crimson, #880808, #D2042D);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position .5s;
}

.cool-button:hover {
  cursor: pointer;
  color: #ffffff;
  background-position: 0 0;
}
